.custom-table{
    width: 100%;
    border-collapse: collapse;
}

.custom-table tr td{
    padding: 10px 10px;
    border:1px solid #918f88;
}

.success{
    color: #5cb85c;
}

.danger{
    color:#d9534f;

}

.li-spacing li{
    padding-top: 5px ;
}
