<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 class="mt20">Available Quizzes</h1>
        <div class="row mt20">
            <div class="col-md-4" *ngFor="let quiz of quizzes">
                <mat-card class="mb20"> 
                    <mat-card-header>
                        <div mat-card-avatar>
                            <img [src]="quiz.quizLogo" width="50" height="auto" style="background-image: cover;"/>
                        </div>
                        <mat-card-title>
                            {{quiz.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            <!-- Category Title -->
                            {{quiz.category.title}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate">{{quiz.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">View</button>
                        <button mat-raised-button color="accent" [routerLink]="'/user-dashboard/instructions/'+quiz.id">Start</button>
                        <button mat-button color="accent">Questions : {{quiz.numberOfQuestions}}</button>
                        <button mat-button color="accent">Max Marks : {{quiz.maxMarks}}</button>
                    </mat-card-actions>
                </mat-card>
                
            </div>

            <div class="col-md-12" *ngIf="quizzes.length == 0">
                <mat-card>
                    <mat-card-content>
                        <h3>No Quiz Available in this Category</h3>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
    </div>
</div>